{# Dynamically load all static files of the system-admin App #}
{% extends 'orims/base/base.html' %}
{% load static %}
{% load staticfiles %}

{#To be injected in the Title Block of the base.html template #}
{% block title %}System-Admin : Home page{% endblock %}
{#To be injected in the Body Block of the base.html template#}

{% block header %}
    <!-- Include Header -->
        {% block hd %}{% include '../inclusions/header.html' %} {% endblock %}
    <!-- End of Header -->
{% endblock %}



{% block body %}
<div class="row" style="">
    <!-- Left panels section -->
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="" >
        <!-- Include System Admin Mini profile pane -->
            <div style="margin-top:-20px;width:100%;"></div>
            {% block pr %}{% include '../inclusions/admin_mini_profile.html' %} {% endblock %}
        <!-- End of System Admin Mini profile pane -->

        <!-- Include System Admin panel -->
            {% block pn %}{% include '../inclusions/admin_panel.html' %} {% endblock %}
        <!-- End of System Admin panel -->
    </div>
    <!-- END OF: Left panels section -->

    <!-- right bigger body section -->
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="margin-bottom:20px;" >
            <div style="margin-top:-20px;width:100%;"></div>
        <div>

            <!-- Include Dashboard Quick selection panel -->
                {% block QS %}{% include '../inclusions/quick_selection.html' %} {% endblock %}
            <!-- End of Dashboard Quick selection panel -->
        </div>


        <!-- QUICK GUIDE SECTION -->
       <div style="margin:-15px;">

            <!-- Include Quick guide -->
            {% block QG %}{% include '../inclusions/quick_guide.html' %} {% endblock %}
            <!-- End of Quick guide -->

       </div>
        <!-- END OF QUICK GUIDE SECTION -->
    </div>

</div>
{% endblock %}

<!-- FOOTER EXRENSION SECTION -->
{% block footer%}
    <!-- Include Footer -->
        {% block ft %}{% include 'orims/inclusions/footer.html' %} {% endblock %}
    <!-- End of Footer -->
{% endblock %}
<!-- END OF FOOTER EXRENSION SECTION -->