{# Dynamically load all static files of the system-admin App #}
{% extends 'orims/base/base.html' %}

{#To be injected in the Title Block of the base.html template #}
{% block title %}System-Admin Log in Form{% endblock %}
{#To be injected in the Body Block of the base.html template#}
{% block body %}
<div class="row fm-mido" style="">
<div class="col-sm-3"  ></div>
<div class="col-sm-6" style="" >
    <div class="row">
        <div class="col-sm-1"  ></div>
        <div class="col-sm-10"  >
            {% if form.username.errors %}
                <div class="alert alert-danger alert-dismissable" style="text-align:left;">{{ form.username.errors }}</div>
            {% endif %}
             <div class="pagelet-frame" style="" >
                <!-- LOGIN FORM PAGELET -->
                <div class="panel-heading pn-hd">
                    <h3 class="panel-title clr-wht fm-hd-big" style="">Login Form</h3>
                </div>
                <div class="panel panel-default pnl-bdy-white-bg" style="">
                    <div class="panel-body">
                        <form action="{% url 'systemAdmin:login' %}" class="bs-example bs-example-form" role="form" method="post">
                            {% csrf_token %}
                            <br/>
                                {{ form.username.errors }}
                                {% csrf_token %}
                                {% if username_error %}
                                    <div class="alert alert-danger" style="text-align:left;">
                                        <span class="glyphicon glyphicon-remove"></span>
                                        {{ username_error }}
                                    </div>
                                {% endif %}

                            <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                {{ form.username }}
                            </div>
                            <br>
                                {% csrf_token %}
                                {{ form.password.errors }}
                                {% if password_error %}
                                    <div class="alert alert-danger" style="text-align:left;">
                                        <span class="glyphicon glyphicon-remove"></span>
                                        {{ password_error }}
                                    </div>
                                {% endif %}
                            <div class="input-group">
                                <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
                                {{ form.password }}
                            </div>
                            <br>
                            <div class="btn-group" role="group" aria-label="Basic example" style="width:100%;">
                                <input type="submit" value="Login" name = "login" class="btn btn-primary" style="width:50%;"/>
                                <input type="button" value="Cancel" name = "Cancel" class="btn btn-default blu-bdr"
                                       onclick="window.location.href = '{% url 'systemAdmin:login' %}';" style="width:50%;"/>
                            </div>
                        </form>
                        <br>
                        <center><a href="#"><h5 class="help-block clr-dft">Have you forgoten your password ?</h5></a></center>

                    </div>
                    <div class="panel-body" style="text-align:center;border-top:1px solid #ccc;background:#f9f9f9;">
                       <a href="{% url 'systemAdmin:signup' %}">
                           <button name = "create" class="btn btn-success" style="width:100%;">Create System Admin Account</button>
                       </a>
                    </div>

                    <div class="panel-footer" style="color:#bbb;">
                        <center><span class="glyphicon glyphicon-calendar "></span><strong> <a href="#" class="clr-gre">orims.com</a> </strong><span class="glyphicon glyphicon-time "></span></center>
                    </div>
                </div>
                <!-- END OF LOGIN FORM PAGELET -->
            </div>
        </div>
        <div class="col-sm-1"  ></div>
    </div>
</div>
<div class="col-sm-3"  ></div>

{% endblock %}