{# Dynamically load all static files of the system-admin App #}
{% extends 'orims/base/base.html' %}
{% load static %}
{% load staticfiles %}

{#To be injected in the Title Block of the base.html template #}
{% block title %}System-Admin : Service units Management{% endblock %}
{#To be injected in the Body Block of the base.html template#}

{% block header %}
    <!-- Include Header -->
        {% block hd %}{% include '../inclusions/header.html' %} {% endblock %}
    <!-- End of Header -->
{% endblock %}



{% block body %}
<div class="row" style="">
    <!-- right bigger body section -->
    <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom:20px;" >
            <div style="margin-top:-20px;width:100%;"></div>
            {% if create_unit %}
                {% block create_unit %}{% include '../inclusions/units/unit_creation_form.html' %} {% endblock %}
            {% elif display_unit_selection_list %}
                {% block unit_list %}{% include '../inclusions/units/unit_selection_template.html' %} {% endblock %}
            {% else %}
                {% block OA %}{% include '../inclusions/service_units_options.html' %} {% endblock %}
            {% endif %}
    </div>

</div>
{% endblock %}

<!-- FOOTER EXRENSION SECTION -->
{% block footer%}
    <!-- Include Footer -->
        {% block ft %}{% include 'orims/inclusions/footer.html' %} {% endblock %}
    <!-- End of Footer -->
{% endblock %}
<!-- END OF FOOTER EXRENSION SECTION -->