{# Dynamically load all static files of the system-admin App #}
{% extends 'orims/base/base.html' %}
{% load static %}
{% load staticfiles %}

{#To be injected in the Title Block of the base.html template #}
{% block title %}System-Admin : Office Accounts{% endblock %}
{#To be injected in the Body Block of the base.html template#}

{% block header %}
    <!-- Include Header -->
        {% block hd %}{% include '../inclusions/header.html' %} {% endblock %}
    <!-- End of Header -->
{% endblock %}



{% block body %}
<div class="row" style="">
    <!-- Left panels section -->
    <div class="col-lg-4 col-md-12 col-sm-12" style="" >
            <div style="margin-top:-20px;width:100%;"></div>
        <!-- Include System Admin panel -->
            {% block pn %}{% include '../inclusions/admin_panel.html' %} {% endblock %}
        <!-- End of System Admin panel -->
    </div>
    <!-- END OF: Left panels section -->

    <!-- right bigger body section -->
    <div class="col-lg-8 col-md-12 col-sm-12" style="margin-bottom:20px;" >
            <div style="margin-top:-20px;width:100%;"></div>
        <!-- Include Office accounts option panel -->
            {% block OA %}{% include '../inclusions/office_accounts_options.html' %} {% endblock %}
        <!-- End of Office accounts option panel -->
    </div>

</div>
{% endblock %}

<!-- FOOTER EXRENSION SECTION -->
{% block footer%}
    <!-- Include Footer -->
        {% block ft %}{% include 'orims/inclusions/footer.html' %} {% endblock %}
    <!-- End of Footer -->
{% endblock %}
<!-- END OF FOOTER EXRENSION SECTION -->