
	<div>
		<div class="profile">
			<div class="sub_profile">
				<center>
					<img src="img/profile/1.jpg" class="profile_pic" /><br/>
					<h2>Ssenengo Jackson</h2><br/>
					<h3>@senjack</h3><br/>
					<button class="btn-primary">Edit Profile</button>
					<button class="btn-default">Dashboard</button>
				</center>
			</div>
		</div>
		<div class="feed">
			<div class="profile_menu">
                <center>
				<button class="active posts">More Profile Information</button>
                </center>
			</div>
			<div class="posts">
                <div class="post post_form" style="padding:0;">
                    <div contenteditable="true">
                        Write Something
                    </div>
                    <button class="post_form_extra"></button>
                    <button class="post_form_submit"></button>
                </div>
				<div class="post">
					<img class="profile_pic" src="img/profile/1.jpg" />
					<a href="#" >Rabii Kahlaoui</a>
					<font>About 1 hour ago</font>
					<hr/>
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					<img src="img/posts/1.jpg" class="post_image" /> 
					<hr/>
					<button class="button like right">999</button>
					<button class="button ac_share right">23</button>
					<button class="button ac_comment left">11</button>
				</div>
				<div class="post">
					<img class="profile_pic" src="img/profile/2.jpg" />
					<a href="#" >Amanda Simmons</a>
					<font>About 1 hour ago</font>
					<hr/>
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					<hr/>
					<button class="button like right">999</button>
					<button class="button share right">23</button>
					<button class="button comment left">11</button>
				</div>
				<div class="post">
					<img class="profile_pic" src="img/profile/1.jpg" />
					<a href="#" >Rabii Kahlaoui</a>
					<font>About 1 hour ago</font>
					<hr/>
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					<img src="img/posts/2.jpg" class="post_image" />
					<hr/>
					<button class="button ac_like right">999</button>
					<button class="button ac_share right">23</button>
					<button class="button ac_comment left">11</button>
				</div>
				<div class="post">
					<img class="profile_pic" src="img/profile/4.jpg" />
					<a href="#" >Stephanie Edwards</a>
					<font>About 1 hour ago</font>
					<hr/>
					<img src="img/posts/3.jpg" class="post_image" />
					<hr/>
					<button class="button like right">999</button>
					<button class="button share right">23</button>
					<button class="button comment left">11</button>
				</div>
				<div class="post">
					<img class="profile_pic" src="img/profile/5.jpg" />
					<a href="#" >Jerry Jones</a>
					<font>About 1 hour ago</font>
					<hr/>
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					<hr/>
					<button class="button ac_like right">999</button>
					<button class="button share right">23</button>
					<button class="button ac_comment left">11</button>
				</div>
				<div class="post">
					<img class="profile_pic" src="img/profile/3.jpg" />
					<a href="#" >Ralph Griffin</a>
					<font>About 1 hour ago</font>
					<hr/>
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					<img src="img/posts/4.jpg" class="post_image" />
					<hr/>
					<button class="button ac_like right">999</button>
					<button class="button share right">23</button>
					<button class="button comment left">11</button>
				</div>
				<div class="post">
					<img class="profile_pic" src="img/profile/1.jpg" />
					<a href="#" >Rabii Kahlaoui</a>
					<font>About 1 hour ago</font>
					<hr/>
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text. 
					<img src="img/posts/5.jpg" class="post_image" />
					<hr/>
					<button class="button ac_like right">999</button>
					<button class="button share right">23</button>
					<button class="button comment left">11</button>
				</div>
			</div>
			<div class="widgets">
				<div class="widget">
					<img src="img/header/idea.png" class="wid_image" />
					<h2>This is the next step</h2>
					<hr/>
					Loremp impsus is a generated random text. 
					Loremp impsus is a generated random text.
					<button class="wid_full_button">START</button>
				</div>
				<div class="widget profile_widget">
					<img src="img/profile/4.jpg" class="profile_pic" />
					<a href="#" >Full Name</a>
					<font>Web designer and developer</font>
					<hr/>
					<center>
						<button class="wid_follow_button">Follow</button>
						<button class="wid_message_button">Message</button>
					</center>
				</div>
				<hr/>
				<h2>Popular Hashtags</h2>
				<hr/>
				<button class="taq">#PHP</button>
				<button class="taq">#Love</button>
				<button class="taq">#Free_Palestine</button>
				<button class="taq">#Jquery</button>
				<button class="taq">#HBD</button>
				<button class="taq">#music</button>
				<button class="taq">#Design_Inspiration</button>
				<button class="taq">#Top_Secret</button>
				<button class="taq">#Code</button>
				<button class="taq">#HTML5</button>
			</div>
		</div>
		<div class="chat">
			<div class="chat_element">
				<img src="img/profile/4.jpg" class="element_image" />
				<h2>Full Name</h2>
			</div>
			<div class="chat_element">
				<img src="img/profile/5.jpg" class="element_image" />
				<h2>Full Name</h2>
			</div>
			<div class="chat_element">
				<img src="img/profile/3.jpg" class="element_image" />
				<h2>Full Name</h2>
			</div>
			<div class="chat_element">
				<img src="img/profile/5.jpg" class="element_image" />
				<h2>Full Name</h2>
			</div>
		</div>
	</div>
