{% load static %}
{% load staticfiles %}

    {% if unit_delete_success %}
        <div class="alert alert-success alert-dismisable">
            <b>Deleted </b>
            <span class="glyphicon glyphicon-ok"></span><hr/>
            The Service Unit was deleted successfully
            <hr/>
           <a href="{% url 'systemAdmin:serviceUnits' %}?user=system-admin&level=system_admin&action=view_units">
               <button name = "create" class="btn btn-success" style="width:100%;">OK</button>
           </a>
        </div>
    {% endif %}

        <div class="list-group">
<!-- Section1: General appointment records management options -->
            <!--<a>-->
            <div class="alert-info" style="padding:10px;border:1px grey;">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="clr-gre1">
                                <!-- IP1 -->
                                {# section_title_info #}
                                    {% if section_title_info %}
                                        {{ section_title_info }}
                                    {% endif %}
                                {# section_title_info #}
                                <!-- END: IP1 -->
                            </div>
                        </div>
                    </div>
            </div>
            <!-- Build selection pagelet -->
{% if units %}
        {% for unit in units %}
            <div>
                <div class="list-group-item" style="padding:5px;">
                    <div class="alert bdr-zr-all" style="margin:0px;background:#f8f8f8;padding-top:5px;padding-bottom:5px;">

                        <div class="row" style="padding-left:5px;">
                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3" style="padding-left:0px;padding-right:0px;margin:0px;background:#f8f8f8;height:100px;">
                                <!-- IP2 -->
                                {# src:unit.logo #}{# alt:unit.name #}
                                    {% if unit.unit_logo %}
                                        <img src="{{unit.unit_logo.url}}" alt="{{unit.unit_name}}"
                                         style="height:100%;width:100%;max-width:100px;" />
                                    {% else %}
                                        <img src="{% static 'orims/photos/defaults/ServiceUnit/logos/orims.jpg' %}" alt="{{unit.unit_name}}"
                                         style="height:100%;width:100%;max-width:100px;" />
                                    {% endif %}
                                {# src:unit.logo #}{# alt:unit.name #}
                                <!-- END: IP2 -->
                            </div>
                            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9" style="height:100px;padding-left:5px;padding-right:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:20%;overflow:hidden;">
                                    <!-- IP3 -->
                                    {# title:toggle_title1 #}
                                        <div class="clr-dft" data-toggle="tooltip" data-placement="bottom"
                                         title="{{ unit.unit_name }}">
                                    {# title:toggle_title1 #}
                                    <!-- IP3 -->

                                        <strong>
                                            <!-- IP4 -->
                                            {# unit_name #}
                                                {% if unit.unit_name %}
                                                {{unit.unit_name}}
                                                {% endif %}
                                            {# unit_name #}
                                            <!-- IP4 -->
                                        </strong>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:80%;padding:0px;padding-top:10px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:60%;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clr-gre"style="height:100%;width:100%;padding:5px;margin-right:5px;overflow:hidden;">
                                            <!-- IP5 -->
                                            {# unit_description #}
                                                {% if unit.unit_description %}
                                                    {{unit.unit_description}}
                                                {% endif %}
                                            {# unit_description #}
                                            <!-- IP5 -->
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40%;padding-left:0px;padding-right:0px;">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align:right;padding-right:0px;">
                                           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="">
                                           </div>
                                           <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="padding:0px;">
                                                 <div class="btn-group" role="group" aria-label="Basic example" style="width:100%;text-align:right;margin:0px;padding:0px;">
                                                     <!-- IP6 -->
                                                     {# onclick:custom_url #}{# title:custom_toggle_title1 #}
                                                     <button name = "view" class="btn btn-primary"
                                                             onclick=""
                                                             style="width:33%;"
                                                             data-toggle="tooltip"
                                                             data-placement="bottom"
                                                             title="{{toggle_title1}}">
                                                         <span class="{{ btn1_value }}"></span>
                                                     </button>
                                                     {# onclick:custom_url #}{# title:custom_toggle_title1 #}
                                                     <!-- IP6 -->

                                                     <a role="button"
                                                        href="{% url 'systemAdmin:editUnit' %}/{{unit.unit_id}}/"
                                                        name = "view" class="btn btn-default"
                                                         onclick=""
                                                         style="width:33%;"
                                                         data-toggle="tooltip"
                                                         data-placement="bottom"
                                                         title="{{toggle_title2}}"
                                                     >
                                                         <span class="{{ btn2_value }}"></span>
                                                     </a>


                                                     <!-- IP7 -->
                                                     {# onclick:collapse_method(x) #}{# title:custom_toggle_title2 #}
                                                     {% if unit.unit_id %}
                                                        <a role="button"
                                                           href="{% url 'systemAdmin:deleteUnit' %}/{{unit.unit_id}}/"
                                                           name = "branches" class="btn btn-default clr-gre"
                                                                onclick="orimsCollapseOne('{{ unit.unit_id }}');"
                                                                style="width:33%;"
                                                                data-toggle="tooltip" data-placement="bottom"
                                                                title="{{toggle_title3}}"
                                                        >
                                                            <span class="{{ btn3_value }}"></span>
                                                        </a>
                                                     {% endif %}
                                                     {# onclick:collapse_method(x) #}{# title:custom_toggle_title2 #}
                                                     <!-- IP7 -->
                                                </div>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- IP8 -->
                {# id:id #}
            </div>
        {% endfor %}
{% endif %}
            <!-- END: Build selection pagelet -->

            <div class="panel-body list-group-item" style="text-align:center;background:#f6f6f6;">
                <strong class="clr-gre"> orims.com </strong>
            </div>
        </div>