{% load static %}
{% load staticfiles %}

        <div class="row">
            <div class="col-md-12">

                <div class="list-group"><!-- Form group -->
                    <!-- Form Header section -->
                    <div href="#" class="blu-bdr list-group-item fm-hd-big pn-hd" style="text-align:left;color:#fff;">
                        <div class="row">
                            <div class="col-xs-1"><span class="glyphicon glyphicon-home"></span></div>
                            <div class="col-xs-11" style=""> Service unit Registration form</div>
                        </div>
                    </div>
                    <!-- END OF: Form Header section -->

                    <!-- Form body section -->
                    <div id="unit-selection-area" class="panel-body" style="text-align:center;border:1px solid #ccc;background:#f9f9f9;">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width:100%;padding-left:0px;padding-right:0px;">

                            <!-- Inner Header section -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background:#f6f7f9;width:100%;height:50px;padding-left:0px;padding-right:0px;">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert" style="width:100%;height:50px;padding:0px;padding-top:5px;padding-left:5px;">
                                <ul class="nav nav-pills">
                                  <li>
                                        <a href="#">
                                            Register Ministry, Organisation,Business,...
                                          <span class="glyphicon glyphicon-plus clr-grn"></span>
                                        </a>
                                  </li>
                                </ul>
                            </div>

                            </div>
                            <!-- END OF: Inner Header section -->

                            <!-- Inner Body section -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width:100%;padding-left:0px;padding-right:0px;margin-top:10px;">

                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="padding-left:0px;padding-right:5px;margin-top:5px;">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-left:0px;padding-right:0px;margin-top:5px;">
                                        <div class="input-group input-group-lg">
                                          <input class="form-control" type="text" placeholder="Enter Unit Name" style="border-radius:5px;">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-left:5px;padding-right:0px;margin-top:5px;">
                                        <div class="input-group input-group-lg">
                                            <select class="form-control" style="border-radius:5px;height:45px;">
                                                <option>Unit Category</option>
                                                <option>Ministry</option>
                                                <option>Organisation</option>
                                                <option>Business firm</option>
                                                <option>Others</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;padding-left:0px;padding-right:0px;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 label clr-gre" style="margin-bottom:0px;text-align:left;">
                                            <h5>Description (Not more that 512 characters)</h5>
                                        </div>
                                        <div class="input-group  input-group-lg">
                                            <textarea class="form-control clr-gre" placeholder="Enter unit description" style="min-height:600px;border-radius:3px;height:100%;"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="min-height:400px;margin-top:5px;padding-right:0px;padding-left:1px;overflow:hidden;">
                                    <center>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clr-gre" style="background:#f6f7f9;margin-top:5px;margin-bottom:0px;text-align:left;border:1px solid #eee;border-radius:5px 5px 0 0">
                                            <h5>Logo / Trademark</h5>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                             style="background:white;padding-left:0px;padding-right:0px;border:1px solid #eee;overflow:hidden;">

                                            <img src="{{ request.session.profile_photo }}" alt="{{ request.session.username }}"
                                                 style="width:140px;height:140px;background:#eee;margin-top:10px;"/>
                                        <div class="form-group" style="width:140px;margin-top:10px;">
                                            <label class="sr-only" for="inputfile">File input</label>
                                            <input type="file" id="inputfile">
                                        </div>

                                        </div>

                                    </center>

                                    <center>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clr-gre" style="background:#f6f7f9;margin-top:5px;margin-bottom:0px;text-align:left;border:1px solid #eee;border-radius:5px 5px 0 0">
                                            <h5>Featured Image</h5>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                             style="background:white;padding-left:0px;padding-right:0px;border:1px solid #eee;overflow:hidden;">

                                            <img src="{{ request.session.profile_photo }}" alt="{{ request.session.username }}"
                                                 style="width:140px;height:140px;background:#eee;margin-top:10px;"/>
                                        <div class="form-group" style="width:140px;margin-top:10px;">
                                            <label class="sr-only" for="inputfile">File input</label>
                                            <input type="file" id="inputfile">
                                        </div>

                                        </div>

                                    </center>

                                    <center>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clr-gre" style="background:#f6f7f9;margin-top:5px;margin-bottom:0px;text-align:left;border:1px solid #eee;border-radius:5px 5px 0 0">
                                            <h5>Cover Photo</h5>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                             style="background:white;padding-left:0px;padding-right:0px;border:1px solid #eee;overflow:hidden;">

                                            <img src="{{ request.session.profile_photo }}" alt="{{ request.session.username }}"
                                                 style="width:140px;height:140px;background:#eee;margin-top:10px;"/>
                                        <div class="form-group" style="width:140px;margin-top:10px;">
                                            <label class="sr-only" for="inputfile">File input</label>
                                            <input type="file" id="inputfile">
                                        </div>

                                        </div>

                                    </center>

                                </div>
                            </div>
                            <!-- END OF: Inner Body section -->

                        </div>
<!-- Buttons Section-->
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="">
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="background:#ccc;padding:0px;margin-top:10px;">
                                 <div class="btn-group" role="group" aria-label="Basic example" style="width:100%;text-align:right;margin:0px;padding:0px;">
                                     <!-- IP6 -->
                                     {# onclick:custom_url #}{# title:custom_toggle_title1 #}
                                     <input type="submit" name = "view" class="btn btn-success"
                                            value="Register"
                                             onclick=""
                                             style="width:50%;"
                                             data-toggle="tooltip"
                                             data-placement="bottom"
                                             title="{{toggle_title1}}">
                                     {# onclick:custom_url #}{# title:custom_toggle_title1 #}
                                     <!-- IP6 -->

                                     <!-- IP7 -->
                                     {# onclick:collapse_method(x) #}{# title:custom_toggle_title2 #}
                                    <a role="button" name = "branches" class="btn btn-default grn-bdr"
                                            onclick="orimsCollapseOne('{{ unit.unit_id }}');"
                                            style="width:50%;"
                                            data-toggle="tooltip" data-placement="bottom"
                                            title="{{toggle_title2}}"
                                    >
                                        Cancel
                                    </a>
                                     {# onclick:collapse_method(x) #}{# title:custom_toggle_title2 #}
                                     <!-- IP7 -->
                                </div>
                           </div>
                        </div>
<!-- END: Buttons Section -->
                    </div>
                    <!-- END OF: Form body section -->

                    <!-- Form Footer section -->
                    <div class="panel-body list-group-item" style="text-align:center;background:#f6f6f6;margin-top:-21px;">
                        <strong class="clr-gre"> {{ request.session.app }} </strong>
                    </div>
                    <!-- END OF: Form Footer section -->

                </div><!-- END OF: Form group -->

            </div>
        </div>
