{% load static %}
{% load staticfiles %}
`
        <div class="list-group">
<!-- Section1: General appointment records management options -->
            <!--<a>-->
            <div class="alert-info" style="padding:10px;border:1px grey;">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="clr-gre1">
                                <!-- IP1 -->
                                {# section_title_info #}
                                {{ section_title_info }}
                                {# section_title_info #}
                                <!-- END: IP1 -->
                            </div>
                        </div>
                    </div>
            </div>
            <!-- Build selection pagelet -->
{% if units %}
        {% for unit in units %}
            <div>
                <div class="list-group-item" style="padding:5px;">
                    <div class="alert bdr-zr-all" style="margin:0px;background:#f8f8f8;padding-top:5px;padding-bottom:5px;">

                        <div class="row" style="padding-left:5px;">
                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3" style="padding-left:0px;padding-right:0px;margin:0px;background:#eee;height:100px;">
                                <!-- IP2 -->
                                {# src:unit.logo #}{# alt:unit.name #}
                                <img src="{{unit.unit_logo.url}}" alt="{{unit.unit_name}}"
                                     style="height:100%;width:100%;" />
                                {# src:unit.logo #}{# alt:unit.name #}
                                <!-- END: IP2 -->
                            </div>
                            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9" style="height:100px;padding-left:5px;padding-right:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:20%;overflow:hidden;">
                                    <!-- IP3 -->
                                    {# title:toggle_title1 #}
                                    <div class="clr-dft" data-toggle="tooltip" data-placement="bottom"
                                         title="{{ unit.unit_name }}">
                                    {# title:toggle_title1 #}
                                    <!-- IP3 -->

                                        <strong>
                                            <!-- IP4 -->
                                            {# unit_name #}
                                            {{unit.unit_name}}
                                            {# unit_name #}
                                            <!-- IP4 -->
                                        </strong>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:80%;padding:0px;padding-top:10px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:60%;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clr-gre"style="height:100%;width:100%;padding:5px;margin-right:5px;overflow:hidden;">
                                            <!-- IP5 -->
                                            {# unit_description #}
                                            {{unit.unit_description}}
                                            {# unit_description #}
                                            <!-- IP5 -->
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40%;padding-left:0px;padding-right:0px;">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align:right;padding-right:0px;">
                                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="">
                                           </div>
                                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="background:#ccc;padding:0px;">
                                                 <div class="btn-group" role="group" aria-label="Basic example" style="width:100%;text-align:right;margin:0px;padding:0px;">
                                                     <!-- IP6 -->
                                                     {# onclick:custom_url #}{# title:custom_toggle_title1 #}
                                                     <button name = "view" class="btn btn-success"
                                                             onclick=""
                                                             style="width:50%;"
                                                             data-toggle="tooltip"
                                                             data-placement="bottom"
                                                             title="{{toggle_title1}}">
                                                         <span class="{{ btn1_value }}"></span>
                                                     </button>
                                                     {# onclick:custom_url #}{# title:custom_toggle_title1 #}
                                                     <!-- IP6 -->
                                                     <!-- IP7 -->
                                                     {# onclick:collapse_method(x) #}{# title:custom_toggle_title2 #}
                                                    <button name = "branches" class="btn btn-default grn-bdr"
                                                            onclick="orimsCollapseOne('{{ unit.unit_id }}');"
                                                            style="width:50%;"
                                                            data-toggle="tooltip" data-placement="bottom"
                                                            title="{{toggle_title2}}"
                                                    >
                                                        <span class="{{ btn2_value }}"></span>
                                                    </button>
                                                     {# onclick:collapse_method(x) #}{# title:custom_toggle_title2 #}
                                                     <!-- IP7 -->
                                                </div>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- IP8 -->
                {# id:id #}
                <div class="unit_collapsible" id="{{ unit.unit_id }}" style="display:none;padding:10px;border:1px grey;">
                {# id:id #}
                <!-- IP8 -->
                {% if branches %}
                        <div class="row" style="margin-top:-10px;">
                    {% for branch_group in branches %}
                            {% for branch in branch_group %}
                                {% if branch.unit_id %}
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right:5px;">
                                    <!-- IP href for <a> -->
                                    <a class="list1" href="#">
                                            <!-- IP9 -->
                                        {# title:branch_name #}
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                             style="height:40px;background:#fff;border:1px solid #eee;color:#79aec8;padding-top:10px;"
                                             data-toggle="tooltip"
                                             data-placement="bottom"
                                             title="{{ branch.branch_name }}"
                                        >
                                        {# title:branch_name #}
                                            <!-- END: IP9 -->
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="overflow:hidden;">
                                                <div style="height:20px;overflow:hidden;">
                                                   <!-- IP10 -->
                                                    {# branch_name #}
                                                    {{ unit.unit_id }}
                                                    {{ branch.unit_id }}
                                                    Ntinda - kiwatule Branch
                                                    {# branch_name #}
                                                   <!-- END: IP10 -->
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {% endif %}
                            {% endfor %}
                    {% endfor %}
                {% endif %}
                            <!-- For collapse Button -->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right:5px;">
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align:right;padding:5px;">
                                            <button name = "branches" class="btn btn-sm btn-default"
                                                    onclick="orimsCollapseOne('{{ unit.unit_id }}');"
                                                    style="width:50%;"
                                                    data-toggle="tooltip" data-placement="bottom"
                                                    title="Hide Branch List for this Service unit"
                                            >
                                                Close
                                            </button>
                                        </div>
                                </div>
                            <!-- END OF: For collapse Button -->
                        </div>
                </div>
            </div>
        {% endfor %}
{% endif %}
            <!-- END: Build selection pagelet -->

            <div class="panel-body list-group-item" style="text-align:center;background:#f6f6f6;">
                <strong class="clr-gre"> orims.com </strong>
            </div>
        </div>
