body, .body-inheritor, .std-bg-clr { background:rgb(240,240,240); }
.clr-wht{color:#fff;}
.fm-hd-big{font-size:large;font-weight:bold;}
.clr-dft{color:#254061}
.pn-hd{background:#254061;text-align:center;}
/*.pn-hd{background:rgb(65, 118, 144);text-align:center;}*/
.blu-bdr{border-color:#376092;}
.grn-bdr{border-color:#379260;}
.clr-gre{color:#999;}
.clr-gre-1{color:#666;}
.clr-grn{color:green;}
.clr-blu{color:blue;}
.cnt-lft{text-align:left;}
a.active-pill{background:#f7f7f7;}
.header-division{margin-bottom:10px;}
.fm-mido{padding-top:150px;}
.glyplus{font-size:85%;text-align:right;}
a.list1:hover{background:#eee;}
.aln-lft{text-align:left;}
.aln-ryt{text-align:right;}
.pnl-bdy-white-bg {
                    text-align:center;
                    border-top-right-radius:0px;
                    border-top-left-radius:0px;
                    background:#fff;
                   }
.bdr-zr-all {
                    border-top-right-radius:0px;
                    border-top-left-radius:0px;
                    border-bottom-right-radius:0px;
                    border-bottom-left-radius:0px;
                    }

.footer-container{
    border-top:1px solid #ddd;
}

.hidden-element{display:none;}