{% load static %}
{% load staticfiles %}
<div class="col-lg-3 col-md-3 col-sm-12"></div>
<div class="col-lg-6 col-md-6 col-sm-12">
{% if not form.errors %}
    {% if admin_update_success %}
        <div class="alert alert-success alert-dismissable">
            Service unit Updated successfully!
            <span class="glyphicon glyphicon-ok"></span>
            <hr/>
           <a href="{% url 'systemAdmin:serviceUnits' %}?user=system-admin&level=system_admin&action=view_units">
               <button name = "create" class="btn btn-success" style="width:100%;">Preview Service Unit in List</button>
           </a>
        </div>
    {% endif %}
{% endif %}

    {% if form.errors %}
        <div id = "unit_error_display_pane" class="alert alert-danger alert-dismissable" style="display:block;">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            FIELD FILLING ERROR(S) DETECTED:<hr/>
            {% if form.unit_name.errors %}
                Service Unit Name field errors:
                {{form.unit_description.errors}}
            {% endif %}
            {% if form.unit_type.errors %}
                Service Unit Category field errors:
                {{form.unit_type.errors}}
            {% endif %}
            {% if form.unit_description.errors %}
                Service Unit Description field errors:
                {{form.unit_description.errors}}
            {% endif %}
            {% if form.unit_logo.errors %}
                Service Unit Logo/Trademark field errors:
                {{form.unit_logo.errors}}
            {% endif %}
            {% if form.unit_featured_image.errors %}
                Service unit featured image field errors:
                {{form.unit_featured_image.errors}}
            {% endif %}
            {% if form.unit_cover_photo.errors %}
                Service unit unit_cover photo field errors:
                {{form.unit_cover_photo.errors}}
            {% endif %}
            <hr/>
           <a href="#">
               <button name = "create"
                       class="btn btn-danger"
                       style="width:100%;"
                       onclick="orimsCollapseOne('unit_error_display_pane');"
               >Ok</button>
           </a>
        </div>
    {% endif %}

    <form
            enctype="multipart/form-data"
            method="POST"
            action="{% url 'systemAdmin:updateAdmin' %}/{{form.instance.system_admin_id}}/"
    >
        <div class="row">
            <div class="col-md-12">

                <div class="list-group"><!-- Form group -->
                    <!-- Form Header section -->
                    <div class="blu-bdr list-group-item fm-hd-big pn-hd" style="text-align:left;color:#fff;">
                        <div class="row">
                            <div class="col-xs-12" style=""><span class="glyphicon glyphicon-user"></span> {{form_title}} </div>
                        </div>
                    </div>
                    <!-- END OF: Form Header section -->

                    <!-- Form body section -->
                    <div id="unit-creation-area" class="panel-body" style="text-align:center;border:1px solid #ccc;background:#f9f9f9;">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width:100%;padding-left:0px;padding-right:0px;margin-bottom:10px;">

                            <!-- Inner Header section -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background:#f6f7f9;width:100%;height:50px;padding-left:0px;padding-right:0px;">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert" style="width:100%;height:50px;padding:0px;padding-top:5px;padding-left:5px;">
                                    <ul class="nav nav-pills">
                                      <li>
                                            <a>
                                                {{form_prompt_message}}
                                              <!--<span class="glyphicon glyphicon-plus clr-grn"></span>-->
                                            </a>
                                      </li>
                                    </ul>
                                </div>

                            </div>
                            <!-- END OF: Inner Header section -->

                            <!-- Inner Body section -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width:100%;padding-left:0px;padding-right:0px;margin-top:10px;">
                                <!-- changed -->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;padding-right:0px;margin-top:5px;">
                                    {% if form.system_admin_user_name.errors %}
                                        <div class="alert alert-danger alert-dismisable" style="text-align:left;margin-bottom:2px;">
                                            <b>System Admin User Name field errors:</b>
                                            {{form.system_admin_user_name.errors}}
                                        </div>
                                    {% endif %}
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;padding-right:0px;">
                                        {% csrf_token %}
                                        {{ form.system_admin_user_name }}
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;padding-right:0px;margin-top:5px;">
                                    {% if form.system_admin_first_name.errors%}
                                        <div class="alert alert-danger alert-dismisable" style="text-align:left;margin-bottom:2px;">
                                            <b>System Admin First Name field errors:</b>
                                            {{form.system_admin_first_name.errors}}
                                        </div>
                                    {% endif %}
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;padding-right:0px;margin-top:10px;">
                                        {% csrf_token %}
                                        {{ form.system_admin_first_name }}
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;padding-right:0px;margin-top:5px;">
                                    {% if form.system_admin_last_name.errors%}
                                        <div class="alert alert-danger alert-dismisable" style="text-align:left;margin-bottom:2px;">
                                            <b>System Admin Last Name field errors:</b>
                                            {{form.system_admin_last_name.errors}}
                                        </div>
                                    {% endif %}
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;padding-right:0px;margin-top:10px;">
                                        {% csrf_token %}
                                        {{ form.system_admin_last_name }}
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;padding-right:0px;margin-top:5px;">
                                    {% if form.system_admin_email.errors%}
                                        <div class="alert alert-danger alert-dismisable" style="text-align:left;margin-bottom:2px;">
                                            <b>System Admin Last Name field errors:</b>
                                            {{form.system_admin_email.errors}}
                                        </div>
                                    {% endif %}
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;padding-right:0px;margin-top:10px;">
                                        {% csrf_token %}
                                        {{ form.system_admin_email }}
                                    </div>
                                </div>
                                <!-- changed -->

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                     style="margin-top:5px;overflow:hidden;border-radius:5px 5px 0 0;padding-left:0px;padding-right:0px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12"
                                         style="padding-left:0px;padding-right:0px;border-top:1px solid #ccc;margin-top:20px;padding-top:10px;">
                                        <!-- For toggle button -->
                                        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:5px;Padding-right:20px;">
                                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 clr-gre"
                                                 style="">
                                                <div id="blue-plus-content">
                                                    Click The blue plus button to Update Your Profile and / or cover
                                                    photo.
                                                </div>
                                                <div id="blue-minus-content" style="display:none;">
                                                    Click The blue minus button to hide the Photo Update area
                                                </div>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-1">
                                                <a id="blue-pus-toggle-btn" role="button" name = "branches" class="btn btn-default blu-bdr clr-dft"
                                                        onclick="orimsCollapseOne('unit_photos');
                                                        toggle_content('toggle-blue-plus','toggle-blue-minus');
                                                        toggle_content('blue-plus-content','blue-minus-content');"
                                                        style="width:auto;height:40px;border-radius:20px;padding:10px;"
                                                >
                                                    <span id="toggle-blue-plus" class="glyphicon glyphicon-plus primary"></span>
                                                    <span id="toggle-blue-minus" class="glyphicon glyphicon-minus primary" style="display:none;"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- END: For toggle button -->
                                        <div id = "unit_photos" class="col-lg-12 col-md-12 col-sm-12"
                                             style="margin-top:10px;border-top:1px solid #ccc;display:none;padding:0px;padding-top:10px;">
                                            <div>

                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clr-gre" style="background:#f6f7f9;margin-top:5px;margin-bottom:0px;text-align:left;border:1px solid #eee;border-radius:3px 3px 0 0">
                                                        <h5>Profile Photo</h5>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                                         style="background:white;border:1px solid #eee;overflow:hidden;">
                                                          {% if admin.system_admin_profile_photo %}
                                                            <img src="{{admin.system_admin_profile_photo.url}}"
                                                                 alt="{{admin.system_admin_first_name}} {{admin.system_admin_last_name}}"
                                                                 style="width:100%;max-width:400px;height:250px;background:#eee;margin-top:10px;"
                                                            />
                                                            {% else %}
                                                            <img src="{% static 'systemAdmin/photos/defaults/SystemAdmin/profile_photo/orims.jpg' %}"
                                                                 alt="{{admin.system_admin_first_name}} {{admin.system_admin_last_name}}"
                                                                 style="width:100%;max-width:300px;height:300px;background:#eee;margin-top:10px;" />
                                                            {% endif %}
                                                            <div class="form-group"
                                                                 style="width:85px;margin-top:10px;overflow:hidden;text-align:center;">
                                                                {% csrf_token %}
                                                                {{ form.system_admin_profile_photo }}
                                                           </div>
                                                    </div>


                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clr-gre" style="background:#f6f7f9;margin-top:5px;margin-bottom:0px;text-align:left;border:1px solid #eee;border-radius:3px 3px 0 0">
                                                        <h5>Cover Photo</h5>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                                         style="background:white;border:1px solid #eee;overflow:hidden;">
                                                          {% if admin.system_admin_cover_photo %}
                                                            <img src="{{admin.system_admin_cover_photo.url}}"
                                                                 alt="{{admin.system_admin_first_name}} {{admin.system_admin_last_name}}"
                                                                 style="width:100%;max-width:400px;height:250px;background:#eee;margin-top:10px;"
                                                            />
                                                            {% else %}
                                                            <img src="{% static 'systemAdmin/photos/defaults/SystemAdmin/cover_photos/orims.jpg' %}"
                                                                 alt="{{admin.system_admin_first_name}} {{admin.system_admin_last_name}}"
                                                                 style="width:100%;max-width:400px;height:250px;background:#eee;margin-top:10px;" />
                                                            {% endif %}
                                                            <div class="form-group"
                                                                 style="width:85px;margin-top:10px;overflow:hidden;text-align:center;">
                                                                {% csrf_token %}
                                                                {{ form.system_admin_cover_photo }}
                                                           </div>
                                                    </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <!-- END OF: Inner Body section -->

                        </div>
<!-- Buttons Section-->
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="">
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="background:#ccc;padding:0px;margin-top:5px;">
                                 <div class="btn-group" role="group" aria-label="Basic example" style="width:100%;text-align:right;margin:0px;padding:0px;">
                                     <!-- IP6 -->
                                     {# onclick:custom_url #}{# title:custom_toggle_title1 #}
                                     <input type="submit" name = "view" class="btn btn-primary"
                                            value="{{submit_button_caption}}"
                                             style="width:50%;"
                                             data-toggle="tooltip"
                                             data-placement="bottom"
                                             title="{{toggle_title1}}">
                                     {# onclick:custom_url #}{# title:custom_toggle_title1 #}
                                     <!-- IP6 -->

                                     <!-- IP7 -->
                                     {# onclick:collapse_method(x) #}{# title:custom_toggle_title2 #}
                                    <a role="button" name = "branches" class="btn btn-default blu-bdr"
                                            href="{% url 'systemAdmin:userAccounts' %}"
                                            onclick="orimsCollapseOne('{{ unit.unit_id }}');"
                                            style="width:50%;"
                                            data-toggle="tooltip" data-placement="bottom"
                                            title="{{toggle_title2}}"
                                    >
                                        Cancel
                                    </a>
                                     {# onclick:collapse_method(x) #}{# title:custom_toggle_title2 #}
                                     <!-- IP7 -->
                                </div>
                           </div>
                        </div>
<!-- END: Buttons Section -->
                    </div>
                    <!-- END OF: Form body section -->

                    <!-- Form Footer section -->
                    <div class="panel-body list-group-item" style="text-align:center;background:#f6f6f6;margin-top:-21px;">
                        <strong class="clr-gre"> {{ request.session.app }} </strong>
                    </div>
                    <!-- END OF: Form Footer section -->

                </div><!-- END OF: Form group -->

            </div>
        </div>
    </form>
</div>
<div class="col-lg-3 col-md-3 col-sm-12"></div>