
        <div class="list-group">
            <div href="#" class="blu-bdr list-group-item fm-hd-big pn-hd" style="text-align:left;color:#fff;">
                <span class="glyphicon glyphicon-cog"></span> Administrator Panel
            </div>

            <a  href="{% url 'systemAdmin:home' %}" class="list-group-item XXXXactive-pill" style="padding:5px;">
                <div class="alert" style="margin:0px;background:#f8f8f8;">
                    <div class="row">
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-dashboard"></span>
                        </div>
                        <div class="col-xs-9">
                            <div class="clr-gre-1" ><strong>Dashboard</strong></div>
                        </div>
                        <div class="col-xs-1">
                                <span class="glyphicon glyphicon-plus glyplus clr-grn" style=""></span>

                        </div>
                    </div>
                </div>
            </a>

            <a href="{% url 'systemAdmin:officeAccounts' %}" class="list-group-item" style="padding:5px;">
                <div class="alert" style="margin:0px;background:#f8f8f8;">
                    <div class="row">
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-briefcase "></span>
                        </div>
                        <div class="col-xs-9">
                            <div class="clr-gre-1" ><strong>Office Accounts</strong></div>
                        </div>
                        <div class="col-xs-1">
                                <span class="glyphicon glyphicon-plus glyplus clr-grn"></span>

                        </div>
                    </div>
                </div>
            </a>

            <a href="{% url 'systemAdmin:userAccounts' %}" class="list-group-item" style="padding:5px;">
                <div class="alert" style="margin:0px;background:#f8f8f8;">
                    <div class="row">
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-user "></span>
                        </div>
                        <div class="col-xs-9">
                            <div class="clr-gre-1" ><strong>User Accounts</strong></div>
                        </div>
                        <div class="col-xs-1">
                                <span class="glyphicon glyphicon-plus glyplus clr-grn"></span>

                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="list-group-item" style="padding:5px;">
                <div class="alert" style="margin:0px;background:#f8f8f8;">
                    <div class="row">
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <div class="col-xs-9">
                            <div class="clr-gre-1" ><strong>Appointments</strong></div>
                        </div>
                        <div class="col-xs-1">
                                <span class="glyphicon glyphicon-plus glyplus clr-grn"></span>

                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="list-group-item" style="padding:5px;">
                <div class="alert" style="margin:0px;background:#f8f8f8;">
                    <div class="row">
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-book"></span>
                        </div>
                        <div class="col-xs-9">
                            <div class="clr-gre-1" ><strong>Documents & Reports</strong></div>
                        </div>
                        <div class="col-xs-1">
                                <span class="glyphicon glyphicon-plus glyplus clr-grn"></span>

                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="list-group-item" style="padding:5px;">
                <div class="alert" style="margin:0px;background:#f8f8f8;">
                    <div class="row">
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-cog"></span>
                        </div>
                        <div class="col-xs-9">
                            <div class="clr-gre-1" ><strong>General Settings</strong></div>
                        </div>
                        <div class="col-xs-1">
                                <span class="glyphicon glyphicon-plus glyplus clr-grn"></span>

                        </div>
                    </div>
                </div>
            </a>


            <div class="panel-body list-group-item" style="text-align:center;background:#f6f6f6;">
                <strong class="clr-gre"> orims.com </strong>
            </div>
        </div>
