{% load static %}
{% load staticfiles %}
`
        <div class="list-group">
            <div href="#" class="blu-bdr list-group-item fm-hd-big pn-hd" style="text-align:left;color:#fff;">
                <div class="row">
                    <div class="col-xs-1"><span class="glyphicon glyphicon-calendar"></span></div>
                    <div class="col-xs-11">System Admin : Appointments Management Panel</div>
                </div>
            </div>

<!-- Section1: General appointment records management options -->
            <!--<a>-->
            <div class="alert-info" style="padding:10px;border:1px grey;">
                    <div class="row">
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-calendar clr-gre1"></span>
                        </div>
                        <div class="col-xs-10">
                            <div class="clr-gre1"><strong>Quick Appointment records option categories</strong></div>
                        </div>
                        <div class="col-xs-1">
                                <span class="glyphicon glyphicon- clr-gre1"></span>
                        </div>
                    </div>
            </div>
            <!--</a>-->

            <div class="admin-accounts-create">
                <a href="#" class="list-group-item" style="padding:5px;">
                    <div class="alert" style="margin:0px;background:#f8f8f8;">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-calendar "></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="clr-gre-1" >Settled Appointment Schedules (SAS)</div>
                            </div>
                            <div class="col-xs-1">
                                    <span class="glyphicon glyphicon-eye-open glyplus clr-grn" style="font-size:90%;"></span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="list-group-item" style="padding:5px;">
                    <div class="alert" style="margin:0px;background:#f8f8f8;">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-calendar "></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="clr-gre-1" >Missed Appointment Schedules (MAS)</div>
                            </div>
                            <div class="col-xs-1">
                                    <span class="glyphicon glyphicon-eye-open glyplus clr-grn" style="font-size:90%;"></span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="list-group-item" style="padding:5px;">
                    <div class="alert" style="margin:0px;background:#f8f8f8;">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-calendar "></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="clr-gre-1" >Confirmed Appointment Schedules (CAS)</div>
                            </div>
                            <div class="col-xs-1">
                                    <span class="glyphicon glyphicon-eye-open glyplus clr-grn" style="font-size:90%;"></span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="list-group-item" style="padding:5px;">
                    <div class="alert" style="margin:0px;background:#f8f8f8;">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-calendar "></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="clr-gre-1" >Pending Appointment Requests (PAR)</div>
                            </div>
                            <div class="col-xs-1">
                                    <span class="glyphicon glyphicon-eye-open glyplus clr-grn" style="font-size:90%;"></span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="list-group-item" style="padding:5px;">
                    <div class="alert" style="margin:0px;background:#f8f8f8;">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-calendar "></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="clr-gre-1" >Canceled Appointment Requests (CAR)</div>
                            </div>
                            <div class="col-xs-1">
                                    <span class="glyphicon glyphicon-eye-open glyplus clr-grn" style="font-size:90%;"></span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="list-group-item" style="padding:5px;">
                    <div class="alert" style="margin:0px;background:#f8f8f8;">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-calendar "></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="clr-gre-1" >Re-made Appointment Requests (RAR)</div>
                            </div>
                            <div class="col-xs-1">
                                    <span class="glyphicon glyphicon-eye-open glyplus clr-grn" style="font-size:90%;"></span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="list-group-item" style="padding:5px;">
                    <div class="alert" style="margin:0px;background:#f8f8f8;">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-calendar "></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="clr-gre-1" >Trashed Appointment Requests (TAR)</div>
                            </div>
                            <div class="col-xs-1">
                                    <span class="glyphicon glyphicon-eye-open glyplus clr-grn" style="font-size:90%;"></span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="list-group-item" style="padding:5px;">
                    <div class="alert" style="margin:0px;background:#f8f8f8;">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-calendar "></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="clr-gre-1" >View All Appointment Records (AAR)</div>
                            </div>
                            <div class="col-xs-1">
                                    <span class="glyphicon glyphicon-eye-open glyplus clr-grn" style="font-size:90%;"></span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="list-group-item" style="padding:5px;">
                    <div class="alert" style="margin:0px;background:#f8f8f8;">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-filter "></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="clr-gre-1" >Advanced Appointment Records Filter Panel (ARFT)</div>
                            </div>
                            <div class="col-xs-1">
                                    <span class="glyphicon glyphicon-option-horizontal glyplus clr-grn" style="font-size:90%;"></span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="list-group-item" style="padding:5px;">
                    <div class="alert" style="margin:0px;background:#f8f8f8;">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-Book "></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="clr-gre-1" >Appointment Records Management Guide (ARMG)</div>
                            </div>
                            <div class="col-xs-1">
                                    <span class="glyphicon glyphicon-eye-open glyplus clr-grn" style="font-size:90%;"></span>
                            </div>
                        </div>
                    </div>
                </a>



            </div>
<!-- END OF Section1: General appointment records management options -->

            <div class="panel-body list-group-item" style="text-align:center;background:#f6f6f6;">
                <strong class="clr-gre"> orims.com </strong>
            </div>
        </div>
