<div class="container clr-gre" style="margin-top:20px;margin-bottom:20px;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-1">
                    <center>Help</center>
            </div>
            <div class="col-md-2">
                <center>Security Policy</center>
            </div>
            <div class="col-md-3">
                <center>Terms and Conditions</center>
            </div>

            <div class="col-md-3">
                <center>About Orims</center>
            </div>
            <div class="col-md-3">
                <center>Developers</center>
            </div>
        <div class="col-md-1"></div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-12">
            <center>All rights reserved @ AfroDjango Initiative</center>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-12">
            <center>Orims {{ request.session.current_time }}</center>
        </div>
    </div>
</div>
