{% load static %}
{% load staticfiles %}
`
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                    <div href="#" class="blu-bdr list-group-item fm-hd-big pn-hd" style="text-align:left;color:#fff;">
                        <span class="glyphicon glyphicon-dashboard"></span> Dashboard : Quick Options
                    </div>
                    <div class="alert-info" style="padding:10px;border:1px grey;">
                        <div class="clr-gre">You can quickly select an organisation to manage, from the list below.</div>
                    </div>
            <div class="panel-body"
                 style="text-align:center;border:1px solid #ccc;background:#f9f9f9;">
                <div ><!--Build Quick access panel-->

{% if units %}
        {% for unit in units %}

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>
                                        <div class="clr-gre">{{ unit.unit_type }}</div>
                                    </strong>
                                </div>
                                <div class="panel-body" style="background:#f5f5f5;overflow:hidden;">
                                        {# unit.featured_image |striptags #}
                                    <img src="{% static 'orims/photos/uploads/featured-images/orims.com.jpg' %}" alt="unit" style="height:150px;width:250px;" />
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item clr-dft"><strong>{{ unit.unit_name }}</strong></li>
                                        <li class="list-group-item" style="height:100px;overflow:hidden;padding:10px;">
                                            <div class="clr-gre" style="height:75px;overflow:hidden;padding-bottom:10px;">
                                                {{unit.unit_featured_image}}
                                                {{ unit.unit_description }}
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                             <div class="row">
                                                 <div class="col-xs-6"></div>
                                                 <div class="col-sm-6">
                                                    <a href="{% url 'systemAdmin:signup' %}">
                                                        <button name = "create" class="btn btn-sm btn-success" style="width:100%;">Select</button>
                                                    </a>
                                                </div>
                                             </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>
                                        <div class="clr-gre">{{ unit.unit_type }}</div>
                                    </strong>
                                </div>
                                <div class="panel-body" style="background:#f5f5f5;overflow:hidden;">
                                    <img src="{% static 'orims/photos/uploads/featured-images/afrodjango.jpg' %}" alt="unit" style="height:150px;width:250px;">
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item clr-dft"><strong>{{ unit.unit_name }}</strong></li>
                                        <li class="list-group-item" style="height:100px;overflow:hidden;padding:10px;">
                                            <div class="clr-gre" style="height:75px;overflow:hidden;padding-bottom:10px;">
                                                {{unit.unit_featured_image}}
                                                {{ unit.unit_description }}
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                             <div class="row">
                                                 <div class="col-xs-6"></div>
                                                 <div class="col-sm-6">
                                                    <a href="{% url 'systemAdmin:signup' %}">
                                                        <button name = "create" class="btn btn-sm btn-success" style="width:100%;">Select</button>
                                                    </a>
                                                </div>
                                             </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </div>


        {% endfor %}
{% endif %}

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>
                                        <div class="clr-gre">Firm</div>
                                    </strong>
                                </div>
                                <div class="panel-body" style="background:#f5f5f5;overflow:hidden;">
                                    <img src="{% static 'orims/photos/uploads/featured-images/business.jpg' %}" alt="unit" style="height:150px;width:250px;">
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item clr-dft"><strong>Business firm</strong></li>
                                        <li class="list-group-item" style="height:100px;overflow:hidden;padding:10px;">
                                            <div class="clr-gre" style="height:75px;overflow:hidden;padding-bottom:10px;">
                                                This is a brief description about Ministry of works and transport.
                                                This is a brief description about Ministry of works and transport.
                                                This is a brief description about Ministry of works and transport.
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                             <div class="row">
                                                 <div class="col-xs-6"></div>
                                                 <div class="col-sm-6">
                                                    <a href="{% url 'systemAdmin:signup' %}">
                                                        <button name = "create" class="btn btn-sm btn-success" style="width:100%;">Select</button>
                                                    </a>
                                                </div>
                                             </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>
                                        <div class="clr-gre">Ohter</div>
                                    </strong>
                                </div>
                                <div class="panel-body" style="background:#f5f5f5;overflow:hidden;">
                                    <img src="{% static 'orims/photos/uploads/featured-images/orims.com.jpg' %}" alt="unit" style="height:150px;width:250px;">
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item clr-dft"><strong>Other</strong></li>
                                        <li class="list-group-item" style="height:100px;overflow:hidden;padding:10px;">
                                            <div class="clr-gre" style="height:75px;overflow:hidden;padding-bottom:10px;">
                                                This is a brief description about AfroDjango initiative.
                                                This is a brief description about AfroDjango initiative.
                                                This is a brief description about AfroDjango initiative.
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                             <div class="row">
                                                 <div class="col-xs-6"></div>
                                                 <div class="col-sm-6">
                                                    <a href="{% url 'systemAdmin:signup' %}">
                                                        <button name = "create" class="btn btn-sm btn-success" style="width:100%;">Select</button>
                                                    </a>
                                                </div>
                                             </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </div>

                    <div class="caption">
                        <div class="clr-gre">
                        <h3>Quick preview and Selection Area</h3>
                        <p>You can minimize this section at any time.</p>
                        </div>
                            <p>
                            <a href="#" class="btn btn-primary" role="button">
                                Button
                            </a>
                            <a href="#" class="btn btn-default" role="button">
                                Button
                            </a>
                        </p>
                    </div>

                </div><!--End Quick access profile panel-->
            </div>
            <div class="panel-body list-group-item" style="text-align:center;background:#f6f6f6;">
                <strong class="clr-gre"> orims.com </strong>
            </div>
                </div>
            </div>
        </div>
