<div class="col-lg-12">
    <div class="row">
        <div class="col-md-12">
            <!-- office account creation quick guide -->
            <div class="alert" style="border:1px solid #ccc;">
                <div class="row">
                    <div class="col-sm-4"   style="border-right:1px solid #ccc;text-align:center;">
                        <div class="caption">
                            <div class="clr-gre">
                                <h3 style="text-decoration:underline;">Office Account</h3>
                                <p>How to create an office account.</p>
                                <span class="glyphicon glyphicon-briefcase" style="font-size:1000%;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="clr-gre" >
                            <center>
                                <strong>
                                    Quickly learn how create an office account through these simple steps
                                </strong>
                            </center>
                            <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                                <span class="badge"  style="font-size:100%;">1</span>
                                 Go to <strong class="clr-gre-1">Administrator panel</strong>
                                then click on the <strong class="clr-gre-1">office accounts</strong>
                                option pill, Then Choose create Office account, from the options provided in order
                                to load the Registration form.
                            </div>
                            <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                                <span class="badge"  style="font-size:100%;">2</span>
                                 Select or create a <strong class="clr-gre-1">Service unit</strong>
                                Account i.e. Ministry, Organisation, or any other business firm under which you want
                                your office account to be created.
                            </div>
                            <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                                <span class="badge"  style="font-size:100%;">3</span>
                                 Select or create a <strong class="clr-gre-1">Branch</strong>
                                Account under which you want your office account to be created.
                            </div>
                            <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                                <span class="badge"  style="font-size:100%;">4</span>
                                 Select or create a <strong class="clr-gre-1">Department</strong>
                                Account under which you want your office account to be created.
                            </div>
                            <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                                <span class="badge"  style="font-size:100%;">5</span>
                                 Now finally create <strong class="clr-gre-1">Office Account</strong>
                                by filling in the form provided to you.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End of office account creation quick guide -->

            <!-- User creation quick guide -->
            <div class="alert" style="border:1px solid #ccc;">
                <div class="row">
                    <div class="col-sm-4"   style="border-right:1px solid #ccc;text-align:center;">
                        <div class="caption">
                            <div class="clr-gre">
                                <h3 style="text-decoration:underline;">User Account</h3>
                                <p>How to create or add user(Staff) to the system.</p>
                                <span class="glyphicon glyphicon-user" style="font-size:1000%;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="clr-gre" >
                            <center>
                                <strong>
                                    Quickly learn how create a user(Staff) account, or add a user to the system through
                                    these simple steps
                                </strong>
                            </center>
                            <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                                <span class="badge"  style="font-size:100%;">1</span>
                                 Go to <strong class="clr-gre-1">Administrator panel</strong>
                                then click on the <strong class="clr-gre-1">User accounts</strong>
                                option pill.
                            </div>
                            <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                                <span class="badge"  style="font-size:100%;">2</span>
                                 Select <strong class="clr-gre-1">Register Staff Member</strong>
                                from the options provided to lead you to the User creation / or staff registration form.
                            </div>
                            <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                                <span class="badge"  style="font-size:100%;">3</span>
                                 You shall then be prompted to Select <strong class="clr-gre-1">Service unit, </strong>
                                <strong class="clr-gre-1">Branch, </strong><strong class="clr-gre-1">Department, </strong>
                                and then <strong class="clr-gre-1">Office Account</strong> under which you want to register
                                the user.<br/>Note: If you are not yet aware of how to create an office account, then
                                follow the steps in the section above this on <strong class="clr-gre-1">
                                How to create an Office Account</strong>
                            </div>
                            <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                                <span class="badge"  style="font-size:100%;">4</span>
                                 Now finally add user or create <strong class="clr-gre-1">User Account</strong>
                                by filling in the form provided to you.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End of user creation quick guide -->

            <!-- Reports and documents generation quick guide -->
            <div class="alert" style="border:1px solid #ccc;">
                <div class="row">
                    <div class="col-sm-4"   style="border-right:1px solid #ccc;text-align:center;">
                        <div class="caption">
                            <div class="clr-gre">
                                <h3 style="text-decoration:underline;">Reports or Documents</h3>
                                <p>How to generate Reports or Documents.</p>
                                <span class="glyphicon glyphicon-book" style="font-size:1000%;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="clr-gre" >
                            <center>
                                <strong>
                                    Quickly learn how to generate reports and(or) documents through these simple steps
                                </strong>
                            </center>
                            <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                                <span class="badge"  style="font-size:100%;">1</span>
                                 By default reports and Documents are generated basing on the default settings of
                                {{ request.session.app }} Application set by its developers. In case you want to review the
                                current settings on reports and documents, or you want to alter the default or current
                                settings, then: <br/>Choose and click on the
                                <strong class="clr-gre-1"> General Settings </strong> option pill from the Administrator panel.
                                Otherwise, you may  skip this step in case you are Ok with the current settings.
                            </div>
                            <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                                <span class="badge"  style="font-size:100%;">2</span>
                                 Choose and click on the <strong class="clr-gre-1">Reports & Documents</strong>
                                Option pill from the Administrator panel, Then Choose either Reports or Documents.
                            </div>
                            <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                                <span class="badge"  style="font-size:100%;">3</span>
                                 You must then Choose or select <strong class="clr-gre-1">Service unit</strong>
                                for which or under which the report or document is to be generated.
                            </div>
                            <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                                <span class="badge"  style="font-size:100%;">4</span>
                                 In case you dont want to generate report for the entire Service unit, then You are required
                                to Select up to <strong class="clr-gre-1">Branch, </strong>or up to
                                <strong class="clr-gre-1">Department, </strong> or up to <strong class="clr-gre-1">Office</strong>
                                (basing on your choice) under or for which you want to generate the Report or Document.<br/>
                                Note: If you are not yet aware of how to create an office account, Department, Branch or
                                service unit, then review the first section of this Quick guide on <strong class="clr-gre-1">
                                How to create an Office Account</strong>
                            </div>
                            <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                                <span class="badge"  style="font-size:100%;">5</span>
                                 Select time basis onto which report or document is to be generated i.e.
                                <strong class="clr-gre-1">Daily, weekly, Monthly, or</strong> <strong class="clr-gre-1">Annual</strong>.
                            </div>
                            <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                                <span class="badge"  style="font-size:100%;">6</span>
                                 Finally In case of a report, Select the report type you want to generate i.e.<strong class="clr-gre-1">Summarized,
                                Detailed, Comparison, Analytical/statistical </strong>or <strong class="clr-gre-1">Custom Report </strong>
                                , Then you are set to generate your report.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End of: Reports and documents generation quick guide -->

        </div>
    </div>
</div>