<div class="row">
    <div class="col-md-12">
        <!-- office account creation quick guide -->
        <div class="alert" style="border:1px solid #ccc;">
            <div class="row">
                <div class="col-sm-4"   style="border-right:1px solid #ccc;text-align:center;">
                    <div class="caption">
                        <div class="clr-gre">
                            <h3 style="text-decoration:underline;">Office Account</h3>
                            <p>How to create an office account.</p>
                            <span class="glyphicon glyphicon-briefcase" style="font-size:1000%;"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="clr-gre" >
                        <center>
                            <strong>
                                Quickly learn how create an office account through these simple steps
                            </strong>
                        </center>
                        <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                            <span class="badge"  style="font-size:100%;">1</span>
                             Go to <strong class="clr-gre-1">Administrator panel</strong>
                            then click on the <strong class="clr-gre-1">office accounts</strong>.
                            option pill, Then Choose create Office account, from the options provided in order
                            to load the Registration form.
                        </div>
                        <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                            <span class="badge"  style="font-size:100%;">2</span>
                             Select or create a <strong class="clr-gre-1">Service unit</strong>
                            Account i.e. Ministry, Organisation, or any other business firm under which you want
                            your office account to be created.
                        </div>
                        <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                            <span class="badge"  style="font-size:100%;">3</span>
                             Select or create a <strong class="clr-gre-1">Branch</strong>
                            Account under which you want your office account to be created.
                        </div>
                        <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                            <span class="badge"  style="font-size:100%;">4</span>
                             Select or create a <strong class="clr-gre-1">Department</strong>
                            Account under which you want your office account to be created.
                        </div>
                        <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                            <span class="badge"  style="font-size:100%;">5</span>
                             Now finally create <strong class="clr-gre-1">Office Account</strong>
                            by filling in the form provided to you.
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End of office account creation quick guide -->

        <!-- User creation quick guide -->
        <div class="alert" style="border:1px solid #ccc;">
            <div class="row">
                <div class="col-sm-4"   style="border-right:1px solid #ccc;text-align:center;">
                    <div class="caption">
                        <div class="clr-gre">
                            <h3 style="text-decoration:underline;">User Account</h3>
                            <p>How to create or add user to the system.</p>
                            <span class="glyphicon glyphicon-user" style="font-size:1000%;"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="clr-gre" >
                        <center>
                            <strong>
                                Quickly learn how create a user account, or add a user to the system through
                                these simple steps
                            </strong>
                        </center>
                        <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                            <span class="badge"  style="font-size:100%;">1</span>
                             Go to <strong class="clr-gre-1">Administrator panel</strong>
                            then click on the <strong class="clr-gre-1">User accounts</strong>.
                            option pill.
                        </div>
                        <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                            <span class="badge"  style="font-size:100%;">2</span>
                             Select <strong class="clr-gre-1">Add user </strong>
                            from the options provided to load the User creation / or staff registration form.
                        </div>
                        <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                            <span class="badge"  style="font-size:100%;">3</span>
                             Select <strong class="clr-gre-1">Office Account</strong> under which you want to register
                            the user.<br/>Note: If you are not yet aware of how to create an office account, then
                            follow the steps in the section above this on <strong class="clr-gre-1">
                            How to create an Office Account</strong>
                        </div>
                        <div class=" col-sm-12 clr-gre" style="margin-top:15px;">
                            <span class="badge"  style="font-size:100%;">4</span>
                             Now finally add user or create <strong class="clr-gre-1">User Account</strong>
                            by filling in the form provided to you.
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End of user creation quick guide -->

    </div>
</div>
