{% load static %}
{% load staticfiles %}
`
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                    <div href="#" class="blu-bdr list-group-item fm-hd-big pn-hd" style="text-align:left;color:#fff;">
                        <div class="row">
                            <div class="col-xs-1"><span class="glyphicon glyphicon-dashboard"></span></div>
                            <div class="col-xs-11" style=""> Dashboard : Quick Options</div>
                        </div>
                    </div>
                    <div class="alert-info"
                         style="padding:10px;border:1px grey;cursor:pointer;"
                         data-toggle="tooltip" data-placement="bottom"
                         title="Click to Hide or view a list of Service units you manage"
                         onclick="orimsCollapseOne('unit-selection-area');"
                    >
                        <div class="clr-gre1">You can quickly select a Service unit to manage, from the list below.</div>
                    </div>
            <div id="unit-selection-area" class="panel-body"
                 style="text-align:center;border:1px solid #ccc;background:#f9f9f9;">
                <div ><!--Build Quick access panel-->

{% if units %}
        {% for unit in units %}
                {% if forloop.first or not forloop.counter|divisibleby:2 %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>
                                        <div class="clr-gre">{{ unit.unit_type }}</div>
                                    </strong>
                                </div>
                                <div class="panel-body" style="background:#f5f5f5;overflow:hidden;">
                                    <img src="{{unit.unit_featured_image.url}}" alt="{{ unit.unit_name }}" style="height:150px;width:250px;" />
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item clr-dft"><strong>{{ unit.unit_name }}</strong></li>
                                        <li class="list-group-item" style="height:100px;overflow:hidden;padding:10px;">
                                            <div class="clr-gre" style="height:75px;overflow:hidden;padding-bottom:10px;">
                                                {{ unit.unit_description }}
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                             <div class="row">
                                                 <div class="col-xs-6"></div>
                                                 <div class="col-xs-6">
                                                    <a href="{% url 'systemAdmin:signup' %}">
                                                        <button name = "select" class="btn btn-sm btn-success" style="width:100%;">Select</button>
                                                    </a>
                                                </div>
                                             </div>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                        {% if forloop.last %}</div>{% endif %}
                {% else %}
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>
                                        <div class="clr-gre">{{ unit.unit_type }}</div>
                                    </strong>
                                </div>
                                <div class="panel-body" style="background:#f5f5f5;overflow:hidden;">
                                    <img src="{{unit.unit_featured_image.url}}" alt="{{ unit.unit_name }}" style="height:150px;width:250px;" />
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item clr-dft"><strong>{{ unit.unit_name }}</strong></li>
                                    <li class="list-group-item" style="height:100px;overflow:hidden;padding:10px;">
                                        <div class="clr-gre" style="height:75px;overflow:hidden;padding-bottom:10px;">
                                            {{ unit.unit_description }}
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                         <div class="row">
                                             <div class="col-xs-6"></div>
                                             <div class="col-xs-6">
                                                <a href="{% url 'systemAdmin:signup' %}">
                                                    <button name = "select" class="btn btn-sm btn-success" style="width:100%;">Select</button>
                                                </a>
                                            </div>
                                         </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}



        {% endfor %}
{% endif %}

                    <div class="caption">
                        <div class="clr-gre">
                        <h3>Quick Service Unit preview and selection area</h3>
                        <p>You can hide this Service units List at any time.</p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:right;">
                            <button id="min" class="btn btn-default" onclick="orimsCollapseOne('unit-selection-area');">
                                Hide list
                            </button>
                        </div>
                    </div>

                </div><!--End Quick access profile panel-->
            </div>
            <div class="panel-body list-group-item" style="text-align:center;background:#f6f6f6;">
                <strong class="clr-gre"> {{ request.session.app }} </strong>
            </div>
                </div>
            </div>
        </div>
