{% load static %}
{% load staticfiles %}
`
        <div class="list-group">
            <div href="#" class="blu-bdr list-group-item fm-hd-big pn-hd" style="text-align:left;color:#fff;">
                <div class="row">
                    <div class="col-xs-12"><span class="glyphicon glyphicon-home"></span> Service Units</div>
                </div>
            </div>

                <a href="{% url 'systemAdmin:serviceUnits' %}?user=system-admin&level=system_admin&action=create_unit&mode=load_form" class="list-group-item" style="padding:5px;">
                    <div class="alert" style="margin:0px;background:#f8f8f8;">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-home "></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="clr-gre-1" >Create Service Unit</div>
                            </div>
                            <div class="col-sm-1 col-xs-12 aln-ryt" style="text-align:right;">
                                    <span class="glyphicon glyphicon-plus clr-grn" style="font-size:90%;"></span>

                            </div>
                        </div>
                    </div>
                </a>

                <a href="{% url 'systemAdmin:serviceUnits' %}?user=system-admin&level=system_admin&action=view_units" class="list-group-item" style="padding:5px;">
                    <div class="alert" style="margin:0px;background:#f8f8f8;">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-home "></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="clr-gre-1" >All Units you manage</div>
                            </div>
                            <div class="col-sm-1 col-xs-12 aln-ryt" style="">
                                    <span class="glyphicon glyphicon-eye-open clr-grn" style="font-size:90%;"></span>

                            </div>
                        </div>
                    </div>
                </a>

            <div class="panel-body list-group-item" style="text-align:center;background:#f6f6f6;">
                <strong class="clr-gre"> {{ request.session.app }} </strong>
            </div>
        </div>
