{% load static %}
{% load staticfiles %}
`
        <div class="list-group">
            <div href="#" class="blu-bdr list-group-item fm-hd-big pn-hd" style="text-align:left;color:#fff;">
                <span class="glyphicon glyphicon-user"></span> System Admin : User Account Management Panel
            </div>

<!-- Section1: -->
            <!--<a>-->
            <div class="alert-info" style="padding:10px;border:1px grey;">
                    <div class="row">
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-cog clr-gre1"></span>
                        </div>
                        <div class="col-xs-10">
                            <div class="clr-gre1"><strong>Quick user Accounts management Options</strong></div>
                        </div>
                        <div class="col-xs-1">
                                <span class="glyphicon glyphicon-plus clr-gre1"></span>
                        </div>
                    </div>
            </div>
            <!--</a>-->

            <div class="admin-accounts-create">
                <a href="{% url 'systemAdmin:userAccounts' %}" class="list-group-item" style="padding:5px;">
                    <div class="alert" style="margin:0px;background:#f8f8f8;">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-user "></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="clr-gre-1" >Register Staff member</div>
                            </div>
                            <div class="col-xs-1">
                                    <span class="glyphicon glyphicon-plus glyplus clr-grn" style="font-size:90%;"></span>

                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="list-group-item" style="padding:5px;">
                    <div class="alert" style="margin:0px;background:#f8f8f8;">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-user "></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="clr-gre-1" >View all Staff Accounts you manage</div>
                            </div>
                            <div class="col-xs-1">
                                    <span class="glyphicon glyphicon-eye-open clr-grn" style="font-size:90%;"></span>

                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="list-group-item" style="padding:5px;">
                    <div class="alert" style="margin:0px;background:#f8f8f8;">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-list "></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="clr-gre-1" >Load nested list view for all Staff Accounts</div>
                            </div>
                            <div class="col-xs-1">
                                    <span class="glyphicon glyphicon-eye-open clr-grn" style="font-size:90%;"></span>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <br/>
<!-- END of Section1: -->

<!-- Section2: Searching and filtering user accounts -->
            <!--<a>-->
            <div class="alert-info" style="padding:10px;border:1px grey;">
                    <div class="row">
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-filter clr-gre1"></span>
                        </div>
                        <div class="col-xs-10">
                            <div class="clr-gre1"><strong>Search or Filter User Accounts For management.</strong></div>
                        </div>
                        <div class="col-xs-1">
                        </div>
                    </div>
            </div>
            <!--</a>-->

            <div class="admin-accounts-create">
                <a href="#" class="list-group-item" style="padding:5px;">
                    <div class="alert" style="margin:0px;background:#f8f8f8;">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-search "></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="clr-gre-1" >Open generic search and filter panel for all User Accounts</div>
                            </div>
                            <div class="col-xs-1">
                                    <span class="glyphicon glyphicon-folder-open clr-grn" style="font-size:90%;"></span>

                            </div>
                        </div>
                    </div>
                </a>
                <br/>
            </div>
<!-- END OF Section2: Searching and filtering user accounts -->


<!-- Section3: ADMIN{Personal account} -->
            <!--<a>-->
            <div class="alert-info" style="padding:10px;border:1px grey;">
                    <div class="row">
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-cog clr-gre1"></span>
                        </div>
                        <div class="col-xs-10">
                            <div class="clr-gre1"><strong>Admin Account management.</strong></div>
                        </div>
                        <div class="col-xs-1">
                        </div>
                    </div>
            </div>
            <!--</a>-->

            <div class="admin-accounts-create">
                <a href="#" class="list-group-item" style="padding:5px;">
                    <div class="alert" style="margin:0px;background:#f8f8f8;">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-user "></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="clr-gre-1" >View your Profile</div>
                            </div>
                            <div class="col-xs-1">
                                    <span class="glyphicon glyphicon-eye-open clr-grn" style="font-size:90%;"></span>

                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item" style="padding:5px;">
                    <div class="alert" style="margin:0px;background:#f8f8f8;">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-cog "></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="clr-gre-1" >Update your Account</div>
                            </div>
                            <div class="col-xs-1">
                                    <span class="glyphicon glyphicon-wrench clr-grn" style="font-size:90%;"></span>

                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item" style="padding:5px;">
                    <div class="alert" style="margin:0px;background:#f8f8f8;">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-cog "></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="clr-gre-1" >Reset your Password</div>
                            </div>
                            <div class="col-xs-1">
                                    <span class="glyphicon glyphicon-wrench clr-grn" style="font-size:90%;"></span>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
<!-- END OF: Section3: ADMIN{Personal account} -->

            <div class="panel-body list-group-item" style="text-align:center;background:#f6f6f6;">
                <strong class="clr-gre"> orims.com </strong>
            </div>
        </div>
