{# Dynamically load all static files of the systemAdmin App #}
    {% load static %}
    {% load staticfiles %}

<!--Hyper Text Markup Content Begins-->
<!DOCTYPE html>
<html>
	<head>
		<title>Orims.com : {% block title %}{% endblock %}</title>

		<meta charset="UTF-8">
		<!-- Required for Bootstrap to work successfully online -->
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- End of : Required for Bootstrap to work successfully online -->

		<!-- Bootstrap -->
			<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
		{% load staticfiles %}
			<link rel="stylesheet" type="text/css" href="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/css/bootstrap.css' %}" />
			<link rel="stylesheet" type="text/css" href="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/css/bootstrap.min.css' %}" />
			<link rel="stylesheet" type="text/css" href="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/css/bootstrap-theme.css' %}" />
			<link rel="stylesheet" type="text/css" href="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/css/bootstrap-theme.min.css' %}" />
		<!-- End Bootstrap -->

		<!-- Glyphicons -->
			<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
			<link rel="stylesheet" href="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.eot' %}" />
			<link rel="stylesheet" href="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.svg' %}" />
			<link rel="stylesheet" href="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.ttf' %}" />
			<link rel="stylesheet" href="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.woff' %}" />
			<link rel="stylesheet" href="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.woff2' %}" />
		<!-- End Glyphicons -->


		<!-- Required for Bootstrap to work successfully offline -->
        <link rel="stylesheet" href="{% static 'orims/styles/orimstrap/orimstrap.css' %}"/>
        <!-- End of : Required for Bootstrap to work successfully offline -->

        <!-- Needed in all cases. this is a custom Javascript for ORIMS -->
            <script type="text/javascript" src="{% static 'orims/scripts/javascript/orimscript.js' %}" ></script>
        <!-- END OF: Needed in all cases. this is a custom Javascript for ORIMS -->

	</head>
	<body id="orims">
	<div id="body-inheritor" class="body-inheritor"><!-- Beginning of Body inheritor div -->

		<!-- ORIMS HEADER SECTION MARKUP -->
		<div id="header-division" class="header-division"><!-- Beginning of Header container div -->
			<div id="header-container" class="container header-container"><!-- Beginning of Header container Bootstrap inheritor div -->
				<!-- To be extended [Just in case] -->
				{% block header%} {% endblock %}
			</div><!-- End of Header container Bootstrap inheritor div -->
		</div><!-- End of Header container div -->
		<!-- END OF : ORIMS HEADER SECTION MARKUP -->


		<!-- ORIMS BODY SECTION MARKUP -->
		<div id="body-division" class="body-division"><!-- Beginning of Body container div -->
			<div id="body-container" class="container body-container"><!-- Beginning of body container Bootstrap inheritor div -->
				<!-- To be extended [Just in case] -->
				<!-- Div just to create a span above body content -->
				<div style="margin-top:50px;width:100%;"></div>
				<!-- End of: Div just to create a span above body content -->
                {% block body%} {% endblock %}
			</div><!-- End of body container Bootstrap inheritor div -->
		</div><!-- End of body container div -->
		<!-- END OF : ORIMS BODY SECTION MARKUP -->


		<!-- ORIMS FOOTER SECTION MARKUP -->
		<div id="footer-division" class="footer-division"><!-- Beginning of footer container div -->
            <div id="footer-container" class="container footer-container"><!-- Beginning of footer container Bootstrap inheritor div -->
				<!-- To be extended [Just in case] -->
                {% block footer%}
				    <!-- Include Footer -->
						{% block ft %}{% include '../inclusions/footer.html' %} {% endblock %}
					<!-- End of Footer -->
				{% endblock %}
			</div><!-- End of footer container Bootstrap inheritor div -->
		</div><!-- End of footer container div -->
		<!-- END OF : ORIMS FOOTER SECTION MARKUP -->
	</div><!-- End of Body inheritor div -->

    <!-- Required for Bootstrap to successfully work offline -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/js/bootstrap.min.js' %}" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script src="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/js/bootstrap.js' %}"></script>
        <script src="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/js/npm.js' %}"></script>
		<!--purely jquery-->
        <script type="javascript" src="{% static 'orims/scripts/jquery/jquery-3.2.1.js' %}"></script>
        <script type="javascript" src="{% static 'orims/scripts/jquery/jquery-3.2.1.min.js' %}"></script>
    <!-- End of : Required for Bootstrap to successfully work offline -->

    <!-- Required for Bootstrap to successfully work online -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- End of : Required for Bootstrap to successfully work online -->


		<script type="text/javascript" language="javascript">
		</script>
	</body>
</html>