{# Dynamically load all static files of the systemAdmin App #}
    {% load static %}

<!--Hyper Text Markup Content Begins-->
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Orims.com{% endblock %}</title>

		<!-- Required for Bootstrap to work successfully online -->
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <!-- End of : Required for Bootstrap to work successfully online -->

		<!-- Bootstrap -->
			<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
			<link rel="stylesheet" type="text/css" href="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/css/bootstrap.css' %}" />
			<link rel="stylesheet" type="text/css" href="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/css/bootstrap.min.css' %}" />
			<link rel="stylesheet" type="text/css" href="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/css/bootstrap-theme.css' %}" />
			<link rel="stylesheet" type="text/css" href="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/css/bootstrap-theme.min.css' %}" />
		<!-- End Bootstrap -->

		<!-- Glyphicons -->
			<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
			<link rel="stylesheet" href="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.eot' %}" />
			<link rel="stylesheet" href="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.svg' %}" />
			<link rel="stylesheet" href="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.ttf' %}" />
			<link rel="stylesheet" href="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.woff' %}" />
			<link rel="stylesheet" href="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.woff2' %}" />
		<!-- End Glyphicons -->


		<!-- Required for Bootstrap to work successfully offline -->
        <link rel="stylesheet" href="{% static 'orims/styles/orimstrap/orimstrap.css' %}"/>
        <!-- End of : Required for Bootstrap to work successfully offline -->

	</head>
	<body id="orims">
	<div id="body-inheritor" class="body-inheritor"><!-- Beginning of Body inheritor div -->

		<!-- ORIMS HEADER SECTION MARKUP -->
		<div id="header-division" class="header-division"><!-- Beginning of Header container div -->
			<div id="header-container" class="container header-container"><!-- Beginning of Header container Bootstrap inheritor div -->
				<!-- To be extended [Just in case] -->
			</div><!-- End of Header container Bootstrap inheritor div -->
		</div><!-- End of Header container div -->
		<!-- END OF : ORIMS HEADER SECTION MARKUP -->


		<!-- ORIMS BODY SECTION MARKUP -->
		<div id="body-division" class="body-division"><!-- Beginning of Body container div -->
			<div id="body-container" class="container body-container"><!-- Beginning of body container Bootstrap inheritor div -->
				<!-- To be extended [Just in case] -->
                {% block body%} {% endblock %}
			</div><!-- End of body container Bootstrap inheritor div -->
		</div><!-- End of body container div -->
		<!-- END OF : ORIMS BODY SECTION MARKUP -->


		<!-- ORIMS FOOTER SECTION MARKUP -->
		<div id="footer-division" class="footer-division"><!-- Beginning of footer container div -->
			<div id="footer-container" class="container footer-container"><!-- Beginning of footer container Bootstrap inheritor div -->
				<!-- To be extended [Just in case] -->
			</div><!-- End of footer container Bootstrap inheritor div -->
		</div><!-- End of footer container div -->
		<!-- END OF : ORIMS FOOTER SECTION MARKUP -->


    <!-- Required for Bootstrap to successfully work offline -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="{% static 'orims/styles/bootstrap/bootstrap-3.3.7/js/bootstrap.min.js' %}" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <!-- End of : Required for Bootstrap to successfully work offline -->

    <!-- Required for Bootstrap to successfully work online -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <!-- End of : Required for Bootstrap to successfully work online -->
	</div><!-- End of Body inheritor div -->
	</body>

</html>